nav {
  padding-left: 1rem;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 2rem 0;
}
nav ul .tab {
  color: #cccccc;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
}
nav ul .tab:hover {
  color: #000;
}
nav ul .active {
  color: #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-weight: 600;
}

.games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.games-container-banner {
  width: 100%;
}
.games-container h1 {
  color: #000;
  font-style: italic;
  font-size: 2rem;
  font-weight: 300 !important;
  text-align: left !important;
  width: 90%;
  padding-top: 7vh;
}
.games-container h2 {
  color: rgb(148, 146, 146);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 !important;
  align-self: flex-start;
  text-align: left;
  padding-left: 5%;
}
.games-container .game {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin: 2rem auto;
  border: 1px solid rgb(228, 226, 226);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgb(197, 197, 197);
  background-color: rgb(248, 248, 248);
}
.games-container .game:not(:nth-of-type(1)) {
  display: none;
}
.games-container .game .reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.games-container .game .reference img {
  width: 70%;
  max-width: 480px;
  height: auto;
  border: 2mm ridge rgba(179, 180, 148, 0.6);
}
.games-container .game .reference p {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 2px;
  font-weight: 600;
  width: 60%;
}
.games-container .game .reference span {
  width: 60%;
  font-size: 0.7rem;
}
.games-container .game .choices {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: center;
  column-gap: 5px;
  list-style: none;
  width: 100%;
}
.games-container .game .choices li {
  display: inline-block;
  text-align: left;
  cursor: pointer;
  max-width: 31%;
  height: auto;
}
.games-container .game .choices li p {
  font-style: italic;
  margin: 4px 0;
  font-weight: 600;
}
.games-container .game .choices li img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media screen and (min-width: 750px) {
  .games-container .choices li {
    width: 280px !important;
  }
  .games-container .choices li img {
    max-width: 300px !important;
    max-height: 300px;
  }
}
@keyframes appearNavbar {
  0% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
body {
  box-sizing: border-box;
  padding: 0;
  font-size: 13px;
}

header,
main {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

ul {
  padding-inline-start: 0 !important;
}

footer {
  height: 3rem;
  background-color: #000;
  max-width: 100% !important;
}

/*# sourceMappingURL=style.css.map */
