@import "scss/layout/navbar";
@import "scss/layout/games";
@import "scss/layout/footer";
@import "scss/utils/keyframes";



  
body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    width:100%;
    font-size: 13px;
}
ul{
    padding-inline-start: 0!important;
}
h1{
    text-align: center;
}




