//display navbar max 680px
@keyframes CardHoverFalse {
    0%{transform: translateX(0);}
    30%{transform: translateX(-20px);}
    50%{transform: translateX(0);}
    70%{transform: translateX(20px);}
    100%{transform: translateX(0);}
  }
