
.footer{
    color: #fff;
    text-align: center;
    background-color: #082a69;

    .h4{
        padding: 1rem 0;
        font-weight: 300;
        font-size: 1.2rem;
    }
    hr{
        width: 2.5rem;
    }
    .social-networks img{
        margin: 10px;
        padding: 5px;
        border-radius: 45%;
        background-color: #fff;
    } 
    p{
        padding-bottom: 1rem;
        font-size: 1rem;
        margin: 0;
    }
}
