.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-banner{
        width: 100%;
    }
    h1{
        color:#000;
        font-style: italic;
        font-size: 2rem;
        font-weight: 300!important;
        text-align: left!important;
        width: 90%;
        padding-top: 7vh;
    }
    h2{
        color: rgb(148, 146, 146);
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0!important;
        align-self: flex-start;
        text-align: left;
        padding-left: 5%;
        

    }
    .game{
        display: flex;
        flex-direction: column;
        row-gap:1rem;
        align-items: center;
        margin: 2rem auto;
        border: 1px solid rgb(228, 226, 226);
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 1px 1px 7px rgb(197, 197, 197);
        background-color: rgb(248, 248, 248);
        &:not(:nth-of-type(1)) {
            display: none;
        }
        .reference{
            display: flex; 
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;
            & img{
                width: 70%;
                max-width: 480px;
                height: auto;
                border: 2mm ridge rgba(179, 180, 148, 0.6);
            }
            & p {
                font-size: 0.8rem;
                font-style: italic;
                margin-bottom: 2px;
                font-weight: 600;
                width: 60%;
            }
            span{
                width: 60%;
                font-size: 0.7rem;
            }
        }
        .choices{
            display: flex; 
            flex-wrap: wrap;
            row-gap:5px;
            justify-content: center;
            column-gap: 5px;
            list-style: none;
            width: 100%;

            & li {
                display: inline-block;
                text-align: left;
                cursor: pointer;
                max-width: 31%;
                height: auto;
                & p {
                    font-style: italic;
                    margin: 4px 0;
                    font-weight: 600;
                }
                & img{
                    width: 100%;
                    max-width: 200px;
                    height: auto;
                }
            }  
        }
    }
}

@media screen and (min-width: 750px){
    .games-container .choices li {
        width: 280px!important;
        & img{
            max-width: 300px!important;
            max-height: 300px;
        }
    }
} 
