nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;  
    list-style: none;
    .tab{
        color: #cccccc;
        text-align: center;
        text-decoration: none;
        flex-basis: 100%;
        font-weight: 300;
        padding: 10px 0 10px 20px;
        cursor: pointer;
        text-transform:uppercase;
        &:hover{
            color: #000;
        }          
    }
}

