nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap:wrap;  
    background-color: #fff!important;
    transition: all 0.5s ease-out;
    .tab{
        background-color: #fff;
        color: #cccccc;
        text-align: center;
        text-decoration: none;
        flex-basis: 100%;
        font-size: clamp(15px, 2vw, 20px);
        font-weight: 300;
        padding: 10px 0 10px 20px;
        cursor: pointer;
        text-transform:uppercase;
        &:hover{
            color: #000;
        }          
    }
}

