nav {
    padding-left: 10%;
    ul{
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    flex-wrap:wrap;  
    list-style: none;
    padding: 2rem 0;
    
    .tab{
        color: #cccccc;
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;
        text-transform:uppercase;
        &:hover{
            color: #000;
        }          
    }
    .active{
        color: #000;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding:  5px 0;
    }
} 
}

